<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>674153080712-qigfbe44ftttfq60l0ba5ht6qes2f5d3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.674153080712-qigfbe44ftttfq60l0ba5ht6qes2f5d3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>674153080712-efkqa8iho2qmg4k9d6ararc3mklvrl7p.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBSZ24XCRa_ufnP6kh1LzSrTjQQmXg649U</string>
	<key>GCM_SENDER_ID</key>
	<string>674153080712</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirebase.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-firebase-2c11f</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-firebase-2c11f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:674153080712:ios:ba6bed4d7a538b76fbbc3d</string>
</dict>
</plist>